<!DOCTYPE html>
<html>
<body>

<h1>{{ web_content }}</h1>

<p>You've reached the {{ ansible_facts['fqdn'] }} webserver.</p>
<p>It was deployed by Ansible Tower on {{ ansible_facts['date_time']['date'] }}.</p>
<p>Email: {{ ansible_facts['my_facts']['Email'] }}.

</body>
</html>
